#titlePage h1{
	margin: 0px auto;
	padding-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;	
	text-align: center;
    font-weight: 700;
}

#aboutMe{
	margin: 0 auto;
	padding-top: 10px;	
	padding-bottom: 20px;
	width: 65%;
	display: table;
}

#imageContainer{
	padding-top: 20px;
}

#imageContainer img{
	border-radius: 20px;
	margin: -10px 40px 30px 0px;
	float: left;
}

#aboutMe p#studentText{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px;
	line-height: 25px;
	padding-top: 20px;
    margin-bottom: 5px;
	width: 100%;
}

#aboutMe p#freeTimeText{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px;
	line-height: 25px;
	width: 100%;	
	padding-top: 20px;
}

#titleResume{
	margin: 0px auto;
	padding: 50px 20px 0px 20px;
}

#resume {
	width: 100%;
	max-width: 1200px;
	background: #f3f3f3;
	margin: 30px auto;
}

#resume p{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #373636;
}

#name{
	font-size: 40px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
    text-align:center;
	margin-bottom: 15px;
}

#mainArea{
	padding: 0 40px;
}

#contactDetails{
    text-align:center;
}

#contactDetails p a:hover { 
	color: #33CCFF;
}

#skills{
	display: flex;
	padding-left: 20px;
}

#technicalSkills{
	display: inline-block;
	float: right;
}

#titleResume h2{
	margin: 10px 0px 50px 0px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 22px;
	text-align: center;
}

#titleResume h3{
    height: 10px;
    text-decoration: underline;	
}

#titleResume h4{
    height: 5px;
}

#titleResume{
	margin: 0 auto;	
	text-align: center;
}

#portfolio{
	margin: 0px auto;
	padding-top: 20px;
}

#portfolio h2{
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 18px;	
	margin: 0px auto;
	padding: 10px 0px;
	text-align: center;	
}

#portfolio p{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px;
	line-height: 22px;
	margin: 0px auto;
	padding-bottom: 10px;
	text-align: center;
}

#portfolio p a:hover {
    color: #33CCFF;
}


/*Elements used throughout webpages*/
.container{
	margin: 0;
	background-color: #E0E0E0;
	height: 100%;
}

.container img#waterBackgrnd{
	width: 100%;
	height: 250px;
	opacity: .3;
}

.nameAndJob{
    position: absolute;
    top: 60px;
    left: 200px;
    right: 200px;
    line-height: 40px;
}

.nameAndJob h1{
	color: black;
	font-size: 45px; 
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

.nameAndJob h2{
	color: black;	
	font-size: 30px; 
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	padding-top: 10px;
}

.topNav{
	margin: -5px auto;
	width: 100%;
}

/*Used this website to help me figure out how to center horizontal navigation: http://csswizardry.com/2011/01/create-a-centred-horizontal-navigation*/

.topNav ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
	text-align: center;
    background-color: #000000;
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;	
	color: #FFFFFF;
}

.topNav li{
	display: inline;
}

.topNav a{
	display: inline-block;
    padding: 10px;	
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.topNav li a:hover:not(.active){
	background-color: #15CFFF;
}

.active{
	background-color: #0000FF;
}

.clear {
	clear: both;
}

.mainDetails{
	padding: 25px 35px;
	border-bottom: 2px solid #2A00FF;
	background: #ededed;
}

.sectionTitle {
	float: left;
	width: 25%;
	padding-top: 20px;
}

.sectionContent {
	float: right;
	width: 70%;
}

.skills {
    float: right;
    width: 70%;
}

.skills h3.subDetails {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 15px;
}

.skills ul{
	padding-top: 10px;
	padding-left: 35px;

}

.skills ul li{
	padding-bottom: 15px;
}

.sectionContent div.workIntern{
	padding-top: 20px;	
}

.sectionContent ul{
	padding-left: 23px;
	font-size: 16px;	
}

.sectionContent li{
	padding-bottom: 10px;
}

.sectionTitle h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #180094;
}

.title h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #180094;
}

.sectionContent h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 5px;
}

.subDetails{
	font-size: 14px;
	font-style: italic;
	margin-bottom: 5px;
}

.portfolioSection{
    margin-bottom: 15px;
}

.footer {
    display: table;
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: 125px;
    background-color: #0099FF;
}

.footer span{
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.footer ul{
	margin: 0 auto;
	padding: 0;
	text-align: center;	
	overflow: hidden;
	width: 100%;
	left: 0px;
	right: 0px;
}

.footer li{
	display: inline;
	padding: 0px 50px;
}

.footer p.copyright{
	padding: 20px 0;
	text-align: center;
}

.footer li a{
	margin: 0 auto;
	display: inline-block;
    color: white;
    text-align: center;
}

.footer li a img.facebook, img.linkedin, img.gitHub{
	padding-top: 10px;
}

body, div{
	border: 0;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body, div, span, h1, h2, h3, p, ul, li, article{
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

body{
	background: #181818; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px; 
	color: #333333;
}

section{
	border-top: 2px solid #dedede;
	padding: 20px 0px 0px 0px;
}

section #sectionSkills{
    border: none;
    padding: 0px 0px 0px 0px;
}

section #skills {
    border: none;
    padding: 15px 0px 0px 0px;
}